/* NavHeader.css */

.navbar {
    width: 100%; /* Ensure the navbar spans the full width */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    padding-top: 46px; /* Adjust this value based on the navbar height */
}


.nav-link {
    color: #ffffff; /* White color for text */
    margin-right: 1rem; /* Spacing between links */
    text-decoration: none; 
    font-weight: 500;
}

.nav-link:hover {
    color: #FFD700; 
}

.navbar-nav .dropdown-menu {
    background-color: #0B5C92; 
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    color: #FFD700; 
    background-color: transparent; 
}
